@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0px;
}

/*****formulaire de recherche*****/
.formulaire {
  background-color: rgba(231, 231, 231, 0.962);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

/*****reservations*****/
.reservations {
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}
.reservations .texte-reservations {
  text-align: center;
  margin-bottom: 20px;
}
.reservations .texte-reservations h2 {
  font-size: 24 px;
  font-weight: 700;
  margin-bottom: 10px;
}
.reservations .texte-reservations p {
  font-size: 16px;
  color: #666666;
}

/*****fonctionnement*****/
.Fonctionnement {
  padding: 20px 0px;
  background-color: #f9f9f9;
}
.Fonctionnement .title-Fonctionnement {
  text-align: start;
  margin-left: 20px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #333;
}

.container-fonctionnement {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.ordercard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 30px 30px 30px 30px;
  position: relative;
  padding: 15px;
  text-align: center;
  width: 250px;
  margin: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: rgb(243, 243, 243);
}
.ordercard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.ordercard .ordernumber {
  font-size: 25px;
  font-weight: 350;
  color: hsl(270, 14%, 92%); /* Couleur violette */
  margin-bottom: 15px;
  margin-right: 10px;
  border: solid 1px #6a11cb;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #6a11cb;
  position: relative;
  right: 40px;
}
.ordercard .ordernumber :nth-child(2) {
  position: relative;
  top: 10px;
  left: -45px;
}
.ordercard .fa-store {
  font-size: 20px;
  color: #6a11cb;
  margin-bottom: 10px;
  position: relative;
  right: 20px;
}
.ordercard .fa-solid.fa-list {
  font-size: 20px;
  color: #666666;
  margin-bottom: 10px;
  position: relative;
  right: 20px;
}
.ordercard .fa-solid.fa-mobile-screen-button {
  font-size: 20px;
  color: #666666;
  margin-bottom: 10px;
  position: relative;
  right: 15px;
}
.ordercard .orderText {
  font-size: 15px;
  color: #333;
  margin-top: 10px;
}

/*****restaurantacceuil*****/
.restaurants {
  background-color: rgb(243, 243, 243);
  padding-bottom: 50px;
}

.title-restaurant {
  margin: 0;
  padding: 1em;
}

a {
  text-decoration: none;
}

/*****restaurantmenu*****/
.presentation_restaurant img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu_restaurant {
  background-color: rgb(243, 243, 243);
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  padding-top: 15px;
  position: relative;
  margin-top: -30px;
}

h1 {
  font-family: "Shrikhand";
  font-weight: 900;
}

/******formulaire*****/
.texte-recherche {
  border-style: none;
  border-right: none;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(231, 231, 231, 0.962);
  margin-left: 50px;
  outline: none;
}

.texte-recherche::-moz-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.13px;
  color: black;
}

.texte-recherche::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.13px;
  color: black;
}

/*****buttons explorer*****/
.button a {
  padding: 15px 15px;
  background: linear-gradient(135deg, #6a11cb, #f740b7);
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}
.button a h3 {
  margin: 5px;
  font-size: 15px;
}
.button a:hover {
  background: linear-gradient(135deg, #b359e6, #ff66cc);
}

/*****buttonmenu*****/
.buttonmenu {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.buttonmenu a.buttonmenu {
  background: linear-gradient(135deg, #6a11cb, #f740b7);
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
  height: 32px;
  width: 183px;
  margin-bottom: 45px;
  padding: 10px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1.1rem;
}
.buttonmenu a.buttonmenu h3 {
  margin: 0;
}

/*****cardsrestaurantacceuil*****/
.card-restaurant {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 0px 0px 15px 15px;
  position: relative;
  padding-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.card-restaurant img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.card-restaurant .tag {
  border-radius: 5px;
  padding: 10px;
  width: 80px;
  height: 15px;
  background-color: rgb(167, 240, 222);
  position: absolute;
  top: 10px;
  right: 10px;
}
.card-restaurant .tag span {
  color: rgb(0, 135, 102);
  font-weight: bold;
}
.card-restaurant .card-content {
  border-radius: 0px 0px 15px 15px;
  border: none;
  background-color: white;
  position: relative;
}
.card-restaurant h3.restaurantname {
  margin-left: 10px;
  color: black;
}
.card-restaurant p.restaurantlocation {
  margin-left: 10px;
  color: black;
}

.heart-icon {
  font-size: 25px;
  color: black;
  position: absolute;
  right: 20px;
  top: 20px;
}

/*****menurestauraurant*****/
.title_restaurant {
  margin-left: 15px;
  position: relative;
}
.title_restaurant .fa-regular.fa-heart {
  font-size: 30px;
  color: black;
  position: absolute;
  right: 200px;
  top: 40px;
}

@media (min-width: 1024px) {
  .title_restaurant {
    margin-left: 15px;
    position: relative;
  }
  .title_restaurant .fa-regular.fa-heart {
    font-size: 30px;
    color: black;
    position: absolute;
    right: 382px;
    top: 24px;
  }
}
.container_logo {
  display: flex;
  justify-content: center;
  position: relative;
}

.fa-sharp.fa-solid.fa-arrow-left {
  font-size: x-large;
  color: black;
  position: absolute;
  left: 14px;
  bottom: 9px;
}

/*****footercommun*****/
.footermenu {
  background-color: #333; /* Fond sombre comme sur l'image */
  color: blanc; /* Texte blanc */
  padding: 20px;
  text-align: left;
}

.container-logo img {
  width: 100px; /* Ajustez la taille du logo si nécessaire */
  margin-bottom: 20px;
  filter: brightness(0) invert(1);
}

.information {
  margin-left: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

.footerlink {
  color: white;
  text-decoration: none;
  font-family: "Arial", sans-serif; /* Police similaire */
  font-size: 18px;
  display: flex;
  align-items: center;
}

.footerlink i {
  margin-right: 10px; /* Espace entre l'icône et le texte */
}

.footerlink:hover {
  text-decoration: underline;
}

.menucontent {
  border: transpanrent;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 70px;
  width: 80%;
  overflow: hidden;
}

.description {
  display: flex;
  flex-direction: column;
  width: 103%;
}

.menu_title {
  margin-bottom: -25px;
}

.menu_subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.9rem;
  color: #777;
  margin: 0;
  flex: 1;
}

.menu > h3 {
  margin-left: 16px;
  font-weight: 300;
}

.animationprix {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  bottom: 38px;
  justify-content: flex-end;
}

.euro {
  font-weight: bold;
  margin-right: 10px; /* Ajustez l'espace entre le prix et l'icône */
  position: absolute;
}

.menu_card_check {
  margin-left: 5px;
  display: flex;
  align-items: center;
  height: 90px;
  width: 53px;
  background-color: lightgreen;
  position: absolute;
  border-radius: 0px 12px 12px 0px;
  margin-right: -50px;
  opacity: 0;
  bottom: -36px;
  transition: all 0.3s ease-in-out;
}

.menucontent:hover .menu_card_check {
  opacity: 1;
  transform: translateX(-40px); /* Apparition et déplacement à gauche */
  transition: all 0.3s ease-in-out;
}

.menucontent:hover .euro {
  transform: translateX(-40px); /* Déplace le prix vers la gauche */
  transition: all 0.3s ease-in-out; /* Animation fluide */
}

.fa-circle-check {
  font-size: 25px;
  /* Ajustez la taille de l'icône si nécessaire */
  color: white;
  align-items: center;
  margin-left: 8px;
  transform: rotate(0deg); /* Position initiale sans rotation */
  transition: transform 0.5s ease-in-out;
}

.menu_card_check:hover .fa-circle-check {
  transform: rotate(360deg); /* Rotation sur hover */
}

.heart-icon {
  color: transparent;
  border: 2px solid transparent;
  -webkit-text-stroke: 2px black; /* Contour de l'icône */
  transition: all 0.5s ease-in-out;
}

.title_restaurant .heart-icon {
  color: transparent;
  border: 2px solid transparent;
  -webkit-text-stroke: 2px black; /* Contour de l'icône */
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 6px;
}

.heart-icon:hover {
  color: violet;
  background: linear-gradient(45deg, violet, red);
  -webkit-background-clip: text;
  background-clip: text;
  transition: color 0.9s ease-in-out;
}

/*******media queries*******/
@media (min-width: 320px) {
  .menuglobal .menucontent {
    margin-left: 14px;
    width: 90%;
  }
  .menuglobal > h3 {
    margin-left: 10px;
  }
  .title_restaurant .heart-icon {
    color: transparent;
    border: 2px solid transparent;
    -webkit-text-stroke: 2px black;
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 6px;
    right: 45px;
  }
}
@media (min-width: 320px) and (min-width: 768px) {
  .menuglobal .menucontent {
    margin-left: 14px;
    width: 90%;
  }
  .footermenu ul {
    display: flex;
    gap: 10px;
    margin-left: -15px;
    position: relative;
  }
  .information {
    margin-left: 20px;
  }
  .information .container-logo {
    position: absolute;
    right: 0px;
  }
  .menuglobal {
    margin-left: 35px;
  }
  .menuglobal > h3 {
    margin-left: 10px;
  }
  .euro {
    font-weight: bold;
    margin-right: 25px; /* Ajustez l'espace entre le prix et l'icône */
    position: absolute;
  }
  .menu_card_check {
    margin-left: 5px;
    display: flex;
    align-items: center;
    height: 90px;
    width: 90px;
    background-color: lightgreen;
    position: absolute;
    border-radius: 0px 12px 12px 0px;
    margin-right: -50px;
    opacity: 0;
    bottom: -36px;
    transition: all 0.3s ease-in-out;
  }
  .title_restaurant {
    margin-left: 240px;
    position: relative;
  }
  .title_restaurant .heart-icon {
    color: transparent;
    border: 2px solid transparent;
    -webkit-text-stroke: 2px black; /* Contour de l'icône */
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 6px;
    left: 242px;
  }
  .ordercard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    padding: 15px;
    text-align: center;
    margin: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgb(243, 243, 243);
  }
}
@media (min-width: 320px) and (min-width: 1024px) {
  .container-restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Pour espacer les éléments */
  }
  .container-restaurant a {
    width: 48%; /* Chaque image occupe environ la moitié de la ligne */
    margin-bottom: 20px; /* Espacement vertical entre les lignes */
  }
  .container-restaurant img {
    width: 100%;
    height: 250px;
  }
  .menu_restaurant {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: -40px;
  }
  .title_restaurant {
    display: flex;
    justify-content: center;
    margin-left: 20px;
  }
  .menucontent {
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
  }
  .euro {
    font-weight: bold;
    margin-right: 45px; /* Ajustez l'espace entre le prix et l'icône */
    position: absolute;
  }
  .menu_card_check {
    margin-left: 5px;
    display: flex;
    align-items: center;
    height: 90px;
    width: 90px;
    background-color: lightgreen;
    position: absolute;
    border-radius: 0px 12px 12px 0px;
    margin-right: -50px;
    opacity: 0;
    bottom: -36px;
    transition: all 0.3s ease-in-out;
  }
  .title_restaurant .heart-icon {
    color: transparent;
    border: 2px solid transparent;
    -webkit-text-stroke: 2px black;
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 24px;
    left: 470px;
  }
  .footermenu ul {
    display: flex;
    gap: 10px;
    margin-left: -15px;
    position: relative;
  }
  .information {
    margin-left: 20px;
  }
  .information .container-logo {
    position: absolute;
    right: 0px;
  }
}
@media (min-width: 1440px) {
  .title_restaurant .heart-icon {
    color: transparent;
    border: 2px solid transparent;
    -webkit-text-stroke: 2px black;
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 24px;
    left: 681px;
  }
}/*# sourceMappingURL=style.css.map */