* {
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0px;
}

header, container-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*****formulaire de recherche*****/
.formulaire {
  background-color: rgba(231, 231, 231, 0.962);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.texte-recherche {
  border-style: none;
  border-right: none;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(231, 231, 231, 0.962);
  margin-left: 50px;
  outline: none;
}

.texte-recherche::-moz-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.13px;
  color: black;
}

.texte-recherche::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.13px;
  color: black;
}

/*****reservations*****/
.reservations {
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}
.reservations .texte-reservations {
  text-align: center;
  margin-bottom: 20px;
}
.reservations .texte-reservations h2 {
  font-size: 24 px;
  font-weight: 700;
  margin-bottom: 10px;
}
.reservations .texte-reservations p {
  font-size: 16px;
  color: #666666;
}
.reservations .button a {
  padding: 15px 15px;
  background: linear-gradient(135deg, #6a11cb, #f740b7);
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}
.reservations .button a h3 {
  margin: 5px;
  font-size: 15px;
}
.reservations .button a:hover {
  background: linear-gradient(135deg, #b359e6, #ff66cc);
}

/*****fonctionnement*****/
.Fonctionnement {
  padding: 20px 0px;
  background-color: #f9f9f9;
}
.Fonctionnement .title-Fonctionnement {
  text-align: start;
  margin-left: 20px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #333;
}
.Fonctionnement .container-fonctionnement {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.Fonctionnement .ordercard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 30px 30px 30px 30px;
  position: relative;
  padding: 15px;
  text-align: center;
  width: 250px;
  margin: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: rgb(243, 243, 243);
}
.Fonctionnement .ordercard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.Fonctionnement .ordercard .ordernumber {
  font-size: 25px;
  font-weight: 350;
  color: hsl(270, 14%, 92%); /* Couleur violette */
  margin-bottom: 15px;
  margin-right: 10px;
  border: solid 1px #6a11cb;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #6a11cb;
  position: relative;
  right: 40px;
}
.Fonctionnement .ordercard .fa-store {
  font-size: 20px;
  color: #6a11cb;
  margin-bottom: 10px;
  position: relative;
  right: 20px;
}
.Fonctionnement .ordercard .fa-solid.fa-list {
  font-size: 20px;
  color: #666666;
  margin-bottom: 10px;
  position: relative;
  right: 20px;
}
.Fonctionnement .ordercard .fa-solid.fa-mobile-screen-button {
  font-size: 20px;
  color: #666666;
  margin-bottom: 10px;
  position: relative;
  right: 15px;
}
.Fonctionnement .ordercard .orderText {
  font-size: 15px;
  color: #333;
  margin-top: 10px;
}

/*****restaurants*****/
.restaurants {
  background-color: rgb(243, 243, 243);
}

.title-restaurant {
  margin-left: 20px;
}

a {
  text-decoration: none;
}

.card-restaurant {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 0px 0px 15px 15px;
  position: relative;
  margin-bottom: 20px;
}
.card-restaurant img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.card-restaurant .tag {
  border-radius: 5px;
  padding: 10px;
  width: 80px;
  height: 15px;
  background-color: rgb(167, 240, 222);
  position: absolute;
  top: 10px;
  right: 10px;
}
.card-restaurant .tag span {
  color: rgb(0, 135, 102);
  font-weight: bold;
}
.card-restaurant .card-content {
  border-radius: 0px 0px 15px 15px;
  border: none;
  background-color: white;
  position: relative;
}
.card-restaurant h3.restaurantname {
  margin-left: 10px;
  color: black;
}
.card-restaurant p.restaurantlocation {
  margin-left: 10px;
  color: black;
}

.fa-regular.fa-heart {
  font-size: 20px;
  color: black;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.fa-solid.fa-heart {
  font-size: 20px;
  color: rgb(151, 71, 255);
  position: absolute;
  right: 20px;
  bottom: 20px;
}

footer {
  background-color: rgb(53, 53, 53);
}

.information {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 30px;
}

footer .container-logo img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
  margin-top: 35px;
  filter: brightness(0) invert(1);
}

footer ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a.footerlink {
  color: white;
  gap: 15px;
}

i.fa-solid.fa-utensils {
  padding-right: 10px;
  margin-bottom: 10px;
}

i.fa-sharp.fa-solid.fa-handshake-angle {
  margin-bottom: 10px;
}

footer ul li:nth-last-child(2) {
  margin-bottom: 10px;
}/*# sourceMappingURL=style.css.map */