/*****footercommun*****/

.footermenu {
  background-color: #333; /* Fond sombre comme sur l'image */
  color:white; /* Texte blanc */
  padding: 20px;
  text-align: left;
}

.container-logo img {
  width: 100px; /* Ajustez la taille du logo si nécessaire */
  margin-bottom: 20px;
  filter: brightness(0) invert(1);
}

.information{
  margin-left: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

.footerlink {
  color: white;
  text-decoration: none;
  font-family: 'Arial', sans-serif; /* Police similaire */
  font-size: 18px;
  display: flex;
  align-items: center;
}

.footerlink i {
  margin-right: 10px; /* Espace entre l'icône et le texte */
}

.footerlink:hover {
  text-decoration: underline;
}

