/*****footercommun*****/

footer{
    background-color:rgba(53, 53, 53, 1) ;
   }
   
   .information{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left:30px ;
    
    }

    footer .container-logo img {
      width: 100px;
      height: auto;
      margin-bottom:20px;
      margin-top:35px;
      filter: brightness(0) invert(1);
      
    
    
    }
    footer ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      
  }
  
    a.footerlink{
    color:white ;
    gap: 15px;
  }
    i.fa-solid.fa-utensils{
      padding-right: 10px;
      margin-bottom: 10px;
    }
    i.fa-sharp.fa-solid.fa-handshake-angle{
      margin-bottom: 10px;
    }
    footer ul li:nth-last-child(2) {
      margin-bottom: 10px;
  }
  
/*******media queries*******/

@media (min-width: 1024px) {
    .menu_restaurant{
      margin-left: 150px;
      margin-right: 150px;
      margin-top:-40px;
    }
    .title_restaurant{
      display: flex;
      justify-content: center;
    }
    .menu h3{
      margin-left: 50px;
    }
    .menucontent{
     margin-left: 50px;
     margin-right: 50px;
     position: relative;
    }
   
    footer ul li:nth-last-child(3) {
    padding-right:10px; /* Ajoute de l'espace à droite du troisième dernier élément */
    }


    footer {
      position: relative; /* Assurez-vous que le footer est positionné par rapport à son conteneur */
      padding: 20px 0; /* Ajoutez un padding si nécessaire */
    }
  
    footer ul {
      display: flex;
      flex-direction: row;
      justify-content: center; /* Centrez les éléments horizontalement */
      gap: 20px; /* Espacement entre les éléments */
      margin-left: 250px;
    }
  
    footer ul li:nth-last-child(3) {
      margin-right: 40px; /* Ajoute de l'espace à droite du troisième dernier élément */
    }
  
    footer .container-logo {
      position: absolute; /* Positionnement absolu pour placer le logo */
      top:-12px; /* Positionne le logo à 20px du bas du footer */
      right: 20px; /* Positionne le logo à 20px de la droite du footer */
    }
  
  
    
  }
  
  .information{
    margin-right: 148px;
    margin-left: 0px;
  }

  

  .footermenu{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:20px;}
  
  


  /*****footermenu*****/
  .footermenu
  {position: relative;
  }

