header,container-logo 
{margin-top: 20px;
 margin-bottom: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
position: relative;
}

/*******media queries*******/

@media (min-width: 1024px){
    .container-restaurant {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Pour espacer les éléments */
    }
    
    .container-restaurant a {
        width: 48%; /* Chaque image occupe environ la moitié de la ligne */
        margin-bottom: 20px; /* Espacement vertical entre les lignes */
    }
    
    .container-restaurant img {
        width: 100%;
        height:250px;
        
    }
    
    
}
 